/* HEADER */
.navbar,
.header-top-item,
.header .btn {
  display: none;
}

.header-top-list,
.header-top-list .social-list {
  display: flex;
  align-items: center;
}

.header-top-list {
  justify-content: center;
}

.header-top-list .social-list {
  gap: 1.25rem;
  padding-block: .9375rem;
}

.itiem-title, .item-text {
  color: var(--tut-light-blue);
}

.header-top-list .social-link {
  color: var(--tut-light-blue);
  font-size: .9375rem;
  transition: var(--transition-1);
}

.header-top-list .social-link:is(:hover, :focus) {
  color: var(--egyptian-yellow);
}

.header-bottom {
  position: absolute;
  top: 2.8125rem;
  left: 0;
  width: 100%;
  padding-block: 10px;
  z-index: 4;
}

.header-bottom.active {
  position: fixed;
  top: 0;
  background-color: var(--tut-navy-blue-2);
  transform: translateY(-100%);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header-bottom > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--egyptian-yellow);
  font-family: var(--ff-oswald);
  font-size: 2.7rem;
  font-weight: var(--fw-600);
  text-transform: uppercase;
  line-height: 1.4;
}

.logo .span {
  color: var(--white);
  font-family: var(--ff-rubik);
  font-size: 1.3rem;
  font-weight: var(--fw-300);
  text-transform: capitalize;
  letter-spacing: 2px;
}

.nav-toggle-btn {
  color: var(--white);
  font-size: 40px;
}

.navbar {
  display: flex;
  position: absolute;
  padding-inline: 0;
  top: 100%;
  left: 15px;
  right: 15px;
  background-color: var(--tut-navy-blue);
  max-height: 0;
  overflow: hidden;
  transition: 0.15s var(--cubic-out);
}

.navbar.active {
  max-height: 321px;
  transition-duration: 0.5s;
}

.navbar-list {
  border-block-start: 1px solid var(--jet);
  margin-block: 25px;
  width: 100%;
}

.navbar-item { border-block-end: 1px solid var(--jet); }

.navbar-link {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  line-height: 1.5;
  padding: 10px 30px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { color: var(--egyptian-yellow); }
/* HEADER */


/* HERO */
.hero {
  padding: var(--section-padding);
  padding-block-start: calc(var(--section-padding) + 40px);
  background-position: left;
}

.hero::before {
  inset: 0;
  background-color: var(--tut-navy-blue);
  mix-blend-mode: multiply;
  z-index: -1;
}

.hero-text {
  color: var(--white);
  margin-block: 15px 40px;
}
/* HERO */


/* SERVICES */
.service { text-align: center; }

.service .section-text { margin-block: 15px 55px; }

.service-card {
  background-color: var(--white);
  padding: 60px 25px;
  min-height: 427px;
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-8);
}

.service-card .card-icon {
  color: var(--egyptian-yellow);
  line-height: 1;
}

.service-card .card-icon img {
  width: 70px;
}

.service-card .card-title {
  margin-block: 15px 12px;
  transition: var(--transition-1);
}

.service-card .card-title:is(:hover, :focus) { color: var(--egyptian-yellow); }

.service-card .card-text { 
  margin-block-end: 30px;
}

.service-card .card-btn {
  color: var(--egyptian-yellow);
  background-color: var(--white);
  max-width: max-content;
  margin-inline: auto;
  font-size: 20px;
  padding: 15px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-5);
  transition: var(--transition-2);
}

.service-card:is(:hover, :focus-within) .card-btn {
  background-color: var(--egyptian-yellow);
  color: var(--white);
}
/* SERVICES */


/* PRICING */
.pricing::before {
  inset: 0;
  background-color: var(--eerie-black-2_85);
  mix-blend-mode: multiply;
  z-index: -1;
}

.pricing .section-title { color: var(--white); }

.pricing .section-text {
  margin-block: 15px 55px;
  color: var(--white_50);
}

.pricing-tab-container {
  background-color: var(--white);
  padding: 40px 5px;
  height: 921px;
  overflow-x: hidden;
}

.tab-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  margin-block-end: 30px;
}

.filter-btn {
  color: var(--eerie-black-1);
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  min-width: 130px;
  padding-block: 12px;
  border: 1.5px solid var(--light-gray);
  border-radius: 2px;
  transition: var(--transition-1);
}

.filter-btn .btn-icon { display: none; }

.filter-btn.active {
  background-color: var(--pyramid);
  border-color: var(--pyramid);
  color: var(--tut-light-blue);
}


.pricing .grid-list { padding-inline: 20px; }

.pricing .grid-list > li.active { animation: popup 0.75s ease forwards; }

@keyframes popup {

  0% { opacity: 0; }
  100% { opacity: 1; }

}

.pricing-card {
  background-color: var(--pyramid);
  padding: 20px 25px;
  border-radius: var(--radius-5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  max-height: 130px;
}

.pricing-card .card-banner {
  border-radius: 50%;
  overflow: hidden;
}

.pricing-card .wrapper { order: 1; }

.pricing-card .h3 {
  --fs-24: 2rem;
  margin-block-end: 8px;
}

.pricing-card .card-price {
  color: var(--tut-navy-blue-2);
  font-family: var(--ff-oswald);
  font-size: var(--fs-30);
  font-weight: var(--fw-500);
}

.pricing-card p {
  color: var(--tut-light-blue);
}

.btn-icon img {
  /* width: 55px; */
  height: 55px;
} 

.grid-list.img-holder {
  border-radius: 50%;
}
/* PRICING */


/* GALLERY */
.title-wrapper { margin-block-end: 60px; }

.gallery .section-text { margin-block: 12px 15px; }

.gallery-card { position: relative; }

.gallery-card .card-banner .img-cover { transition: var(--transition-2); }

.gallery-card:is(:hover, :focus-within) .card-banner .img-cover { transform: scale(1.1); }

.gallery-card .card-content {
  position: absolute;
  text-align: center;
  inset: 15px;
  background-color: var(--tut-navy-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--transition-2);
}

.gallery-card:is(:hover, :focus-within) .card-content {
  opacity: 1;
  /* transform: scale(1); */
}

.gallery-card :is(.card-title, .card-text) { color: var(--white); }

.gallery-card .card-btn {
  background-color: var(--white);
  color: var(--egyptian-yellow);
  font-size: 18px;
  padding: 16px;
  border-radius: var(--radius-5);
  margin-block-start: 12px;
  transition: var(--transition-1);
}

.gallery-card .card-btn:is(:hover, :focus) {
  background-color: var(--egyptian-yellow);
  color: var(--white);
}

.btn2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--egyptian-yellow);
  background-color: var(--white);
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
  width: 250px;
  margin-inline: auto;
  font-size: 20px;
  padding: 10px 25px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-5);
  transition: var(--transition-2);
}

.btn2:hover {
  background-color: var(--egyptian-yellow);
  color: var(--white);
  transition: var(--transition-2);
}
/* GALLERY */


/* APPOINTMENTS */
.appoin { padding-block-start: 0; }

.appoin-card .card-banner { display: none; }

.appoin-card .card-content {
  background-color: var(--egyptian-yellow);
  padding: 80px 15px;
  text-align: center;
  color: var(--white);
}

.appoin-card .section-title { color: var(--white); }

.appoin-card .section-text { margin-block: 15px 55px; }

.input-field {
  background-color: var(--white);
  color: var(--davys-gray);
  min-height: 56px;
  padding-inline: 25px;
  border-radius: var(--radius-5);
  margin-block-end: 20px;
  outline: none;
  outline-offset: 0;
}

.input-field:focus { outline: 3px solid var(--black_30); }

select.input-field { appearance: none; }

select.input-field,
.input-field::placeholder,
.input-field.date {
  font-family: var(--ff-oswald);
  color: var(--tut-navy-blue-2);
  font-weight: var(--fw-500);
}

.input-field > option {
  color: var(--sonic-silver);
  font-family: var(--ff-rubik);
}

.input-field.date { text-transform: uppercase; }

.input-field::-webkit-calendar-picker-indicator { opacity: 0.85; }

textarea.input-field {
  padding-block: 15px;
  min-height: 100px;
  height: 120px;
  max-height: 150px;
  resize: vertical;
}

.form-btn {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--white);
  padding: 13px;
  border-radius: var(--radius-5);
  transition: var(--transition-1);
}

.form-btn:is(:hover, :focus) {
  background-color: var(--white);
  color: var(--tut-navy-blue-2);
}
/* APPOINTMENTS */


/* FOOTER */
.footer {
  background-color: var(--tut-navy-blue-2);
  padding-block-end: 30px;
}

.footer-top { margin-block-end: 65px; }

.footer-brand {
  border: 1px solid var(--white_10);
  margin-block-end: 70px;
}

.footer .logo {
  text-align: center;
  padding: 25px;
  border-block-end: 1px solid var(--white_10);
}

.footer .input-wrapper {
  background-color: var(--white);
  position: relative;
  margin: 25px;
  padding: 15px;
}

.input-wrapper .email-field::placeholder {
  color: var(--tut-light-blue);
}

.footer .input-wrapper:focus-within { outline: 3px solid var(--white_30); }

.footer .email-field {
  text-align: center;
  margin-block-end: 15px;
  color: inherit;
  outline: none;
}

.footer button {
  max-width: 100%;
  width: 100%;
  justify-content: center;
  background-color: var(--egyptian-yellow);
}

.footer button:hover {
  border: 1.5px solid black;
}

.footer-link-box {
  display: flex;
  justify-content: space-around;
}

.footer-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 10px 0 10px;
  transition: var(--transition-1)
}

.footer-list-title {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  margin-block-end: 30px;
}

.footer-link,
.blog-card,
.blog-card .card-date,
.footer-list-item {
  display: flex;
  align-items: center;
}

.footer-link {
  color: var(--white_50);
  gap: 10px;
  margin-block-start: 8px;
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) { color: var(--white); }

.footer-link:is(:hover, :focus)::before { background-color: var(--white); }

.blog-card {
  gap: 25px;
  margin-block-start: 20px;
}

.blog-card .card-banner { flex-shrink: 0; }

.blog-card .card-title {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
  line-height: 1.5;
  margin-block-end: 5px;
  transition: var(--transition-1);
}

.blog-card .card-title:is(:hover, :focus) { color: var(--egyptian-yellow); }

.blog-card .card-date {
  gap: 5px;
  font-size: var(--fs-13);
  text-transform: uppercase;
  color: var(--white_50);
}

.blog-card .card-date ion-icon { --ionicon-stroke-width: 50px; }

.footer-list-item {
  align-items: flex-start;
  gap: 10px;
  margin-block-start: 10px;
}

.footer-list-item ion-icon {
  color: var(--egyptian-yellow);
  font-size: 18px;
  flex-shrink: 0;
  --ionicon-stroke-width: 50px;
  margin-block: 7px;
}

.contact-link {
  color: var(--white_50);
  transition: var(--transition-1);
}

a.contact-link:is(:hover, :focus) { color: var(--white); }

.footer-bottom {
  background-color: var(--eerie-black-3);
  text-align: center;
  padding: 15px;
}

.copyright-link {
  display: inline-block;
  color: var(--egyptian-yellow);
}

.shoutout {
  text-align: center;
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: -15px;
}

.footer-link-box ul li{
  list-style: none;
}
.footer-link-box a{
  list-style: none;
}

.king-kut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 60px;
}

.king-kut p {
  padding: 0;
  color: var(--egyptian-yellow);
  font-family: var(--ff-oswald);
  font-size: 2.7rem;
  font-weight: var(--fw-600);
  text-transform: uppercase;
  line-height: 1.4;
}
/* FOOTER */


/* BACK TO TOP */
.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--tut-light-blue);
  color: var(--white);
  font-size: 20px;
  padding: 10px;
  border-radius: var(--radius-5);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
}

.back-top-btn:hover {
  box-shadow: inset 0px 0px 20px 20px rgba(255, 255, 255, 0.1);
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}
/* BACK TO TOP */